<div class="container mt-4">
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: ["Chinese", "Japanese", "French", "Italian", "Belgian"] %>
    <%= f.submit :Submit, class: "btn btn-primary" %>
  <% end %>
</div>
